# dependencies
*node_modules
*.pnp*
*package-lock.json

# testing
*coverage

# production
*build

# miscellaneous
*data
*.Rhistory
*.DS_Store
*.env*

*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
